<!DOCTYPE html>
<html lang="en">
  <%- include ('./partials/head') %>

  <body>
    <%- include ('./partials/navbar') %>
    <main>
      <section>
        <h2 class="title"><%= titulo %></h2>
        <div class="flex-container">
          <!-- card -->
          <% characters.map(item => {%>
          <div class="card">
            <img
              src="<%= item.image %>"
              width="200px"
              alt="imagen de spider-man"
            />
            <div class="detalle">
              <p><b><%= item.name %></b></p>
              <p>Nombre: <em><%= item.name %></em></p>
              <p>Primera Aparicion: Amazing Fantasy #15</p>
            </div>
          </div>
          <!-- card -->
          <% })%>
        </div>
      </section>
      <section>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate,
          id modi ipsam aliquam eligendi corporis? Vero cumque, beatae
          cupiditate eum officia dolores veniam labore magni consequuntur
          necessitatibus id ut error.
        </p>
      </section>
      <i class="fa-solid fa-circle-chevron-down posicion-fixed"></i>
    </main>

    <%- include ("./partials/footer") %>
  </body>
</html>
