<!DOCTYPE html>
<html lang="en">
  <%- include ('./partials/head') %>

  <body>
    <%- include ('./partials/navbar') %>
    <main>
      <div class="detail-title">
        <h3><%=product.category %></h3>
        <h1><%=product.name %></h1>
      </div>
      <div class="card-detail">
        <img
          src="/images/products/<%= product.image %>"
          alt="<%=product.name %>"
        />
        <div class="part-detail">
          <h2><%=product.name %></h2>
          <p>$<%=product.price %></p>
          <p><%=product.discount %>%</p>
          <p>Descripcion:<%=product.description%></p>
          <div>
            <form action="/products/edit/<%=product.id %>" method="post">
              <button class="button-1">Editar</button>
            </form>
            <form action="/products/delete/<%=product.id %>" method="post">
              <button class="button-1">Eliminar</button>
            </form>
          </div>
        </div>
      </div>
    </main>

    <%- include ("./partials/footer") %>
  </body>
</html>
